#menu-nav{
    @media (max-width: 768px) {
        #menu {
            display: none !important;
        }
        #menu:not( .mm-menu ) {
            display: none;
        }
        .btn-menu-mobile{
            text-decoration: none;
            &::before{
                content: "\F0C9";
                font-family: "FontAwesome";
                color: #FFF;
                margin-left: 16px;
                font-size: 2.5em;
            }
        }  
        
        .search-mobile{
            padding: 0 10px;
            position: relative;
            &__input{
                border: none;
                padding-left: 10px;
                height: 40px;
                width: 100%;
                border-radius: 5px;
                &:focus{
                    border: none;
                    outline: none;
                }
            }

            &__btn{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                height: 36px;
                border-radius: 5px;
                border: none;
                background: transparent;
                i{
                    color: #b60000;
                    font-size: 2em;
                }
            }
        }

        .cart-mobile{
            margin-right: 10px;
            a{
                text-decoration: none;
                color: #FFF;
                font-size: 2em;
            }
            b{
                background: #FFF;
                color: #b60000;
                border-radius: 5px;
                padding: 0 9px;
                font-size: 0.9em;
            }
        }
    }
    @media (min-width: 769px) {
        #mm-menu{
            display: none !important;   
        }

        .search{
            padding: 0 10px;
            position: relative;
            &__input{
                border: none;
                padding-left: 10px;
                height: 40px;
                width: 250px;
                border-radius: 5px;
                &:focus{
                    border: none;
                    outline: none;
                }
            }

            &__btn{
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                height: 36px;
                border-radius: 5px;
                border: none;
                background: transparent;
                i{
                    color: #b60000;
                    font-size: 2em;
                }
            }
        }
        
        #menu{

            .ul-all{
                position: absolute;
                list-style-type: none;
                padding: 0;
                background:#b60000;
                width: calc(100% + 100px);
                opacity: 0;
                visibility: hidden;
                transition: all ease .7s;
                transform-origin: 0 0 0;
                transform: perspective(600px) rotateX(-90deg);
                z-index: 1;
            }
            .li-all{
                position: relative;
                .a-all{
                    display: inline-block;
                    color: #FFF;
                    font-size: 15px;
                    text-transform: uppercase;
                    text-decoration: none;
                    position: relative;
                    z-index: 1;
                    font-weight: bold;
                    width: 100%;
                }
                &::after{
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 0;
                    height: 100%;
                    background: #000;
                    opacity: 0;
                    visibility: hidden;
                    transition: all .5s;
                }
                &:hover{
                    &::after {
                        width: 100%;
                        opacity: 1;
                        visibility: visible;
                        transition: all .5s;
                    }
                }
            }
            



            .menu-lv1{
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-content: center;
                &__item{
                    &--link{
                        padding: 15px 25px;
                    }
                    .menu-lv2{                       
                        &__item{
                            &--link{
                                border-top: 1px solid #FFF;
                                padding: 6px 10px;
                            }      
                            .menu-lv3{
                                left: 100%;
                                top: 0;
                                width: 100%;
                                &__item{
                                    &--link{
                                        border-top: 1px solid #FFF;
                                        padding: 6px 10px;
                                    }                                   
                                }
                            } 
                            &:hover{
                                .menu-lv3{
                                    opacity: 1;
                                    visibility: visible;
                                    transition: all .5s;
                                    transform: perspective(600px) rotateX(0);
                                }
                            }                    
                        }
                    }
                    &:hover{
                        .menu-lv2{
                            opacity: 1;
                            visibility: visible;
                            transition: all .5s;
                            transform: perspective(600px) rotateX(0);
                        }
                    }
                }
            }
        }
    }
}

.menu--bg{
    background: #b60000;
}

@media (max-width: 768px) {
    .search{
        display: none;
    }
}
