#service_home{
    margin-top: 30px;
    .service{
        padding: 1% 0;
        color: #FFF;
        &__image{

        }
        &__content{
            &--title{
                margin: 0;
                text-transform: uppercase;
                font-size: 1.3em;
                @media (max-width: 768px) {
                    font-size: 1em;
                }
            }
            &--teaser{
                p{
                    margin: 0;
                }
                @media (max-width: 768px) {
                    font-size: 0.8em;
                }
            }
        }
    }

    .service--bg{
        background: #3c3c3c;
    }
}