// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #ffffff;

// color custom
$bg-header: #F5F6F3;
$line-bg-header: #bec0b9;

$orange-strong: #E24507;


$green-dashboard-count: #16A085;
$blue-strong-dashboard-count: #34495E;
$blue-dashboard-count: #2980B9;
$yellow-dashboard-count: #F39C12;
$red-dashboard-count: #E74C3C;
$violet-dashboard-count: #8E44AD;

