.border-captcha {
  background: gray;
  color: white;
  text-align: center;
}

.border-captcha p {
  font-size: 18px;
  padding: 4px;
}

.border-login {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  padding-top: 15px;
}

